

 @font-face {
    font-family: 'Gilroy-Regular', sans-serif;
    src: url(../fonts/gilroy-regular.woff2);
    font-style: normal;
    font-weight:400 ;
  }

  @font-face {
    font-family: 'Gilroy-Medium', sans-serif;
    src: url(../fonts/gilroy-medium.woff2);
    font-style: normal;
    font-weight:500;
  }
  
  @font-face {
    font-family: 'Gilroy-SemiBold', sans-serif;
    src: url(../fonts/gilroy-semibold.ttf);
    font-style: normal;
    font-weight:600;
  }

  html{
    box-sizing: border-box;
  }

  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  body{
    color: #3A3845;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    font-family: 'Gilroy-Medium', sans-serif;
  }

  ul{
    list-style-type: none;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
  }
  .header__container {
    max-height: 100px;
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
  }

  .navigation{
    max-width:640px ;
    min-height: 50px;
    display: flex;
    margin-right: 75px;
    align-items: center;  
   
  }
  .header__logo {
    max-width: 183px;
    max-height: 48px;
  }
  .header__navigation {
    margin-left: 122px;
    min-height: 48px;
    display: flex;
    align-items: center;
  }
  .header__navigation-list {
    
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 0 28px ;
    /* padding: 10.5px 0; */
    max-width: 334px;
    min-height: 27px;
    max-height: 27px;
    margin: 35.5px 0;
  }
  .buttons{
    min-width:490px ;
    min-height: 45px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 24px 0px 24px 0;
  }
  .header__search {
    min-width: 320px;
    min-height: 45px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Чёрный цвет с 50% прозрачности */
    display: flex;
    flex-direction: row-reverse;
    padding: 12px 12px 12px 0px;
    align-items: center;
  }
  .header__search-txt {
    border: none;
    min-width: 268px;
    max-height: 17px;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin-left: 9.5px;
    /* margin: 13.5px 12px 13.5px 0px ; */
    border: none;
    color: #A6A6A8;
  }
  .header__search-btn {
    border: none;
    background: #FFFFFF;
    border-radius: 7px;
    max-width: 25px;
  }
  .header__button-list {
    min-width: 104px;
    min-height: 24px;
    display: flex;
    gap: 20px;
    padding: 15px 0;
    margin-left: 65px;
  }

  .header__navigation-link_gold{
    color: #C69B7B;
  }

  /* ------------------------------Main-------------------------- */

  /* top__menu */


  .main {
    background-color: #F7F6F5 ;
  }
  .top__menu-list {
    display: flex;
    max-width: 191px;
    min-height: 20px;
    justify-content: space-between;
    padding: 24px 0px 24px 0px;  
  }
  .top__menu-item {
    color: #807F86;
  }
  .top__menu-link {
    color: #807F86;
  }
  .top__menu-link_pressed {
    color: #3A3845;
  }

/* ---------------------------product__cards------------------------- */

  .product {
  }
  .product__cards {
    max-width: 692px;
    max-height: 588px;
    
  }
  .product__photo {
    max-width: 692px;
    max-height:464px;
  }
  .product__different-photos {
    margin-top: 24px;
    max-width: 692px;
    
  }
  .product__list {
    display: flex;
    justify-content: space-between;
  }
  .product__list-item {
  }


/* ---------------------------product__description------------------------- */



/* ---------------------------product__info------------------------- */


.product__container{
  display: flex;
}


.product__description {
  width: 488px;
 

  max-height: 588px;
  margin-left: 20px;
}
.product__info {
}
.product__name {
  font-weight: 600;
  color: #3A3845;
  font-size: 24px;
  margin-bottom: 25px;
  
}


.product__rating {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

}
.star {
  margin-right: 16px;
}
.reviews {
  margin-right: 40px;
  color: #807F86;
}
.stock {
  color: #807F86;

}
b{
  color: black;
}
.product__price {
  display: flex;
  margin-bottom: 25px;

}
.product__price-discount {
  font-weight: 600;
  color: #3A3845;
  font-size: 24px;
  margin-right:16px ;
}
.product__price-past {
  font-weight: 600;
  color:#A6A6A8;
  font-size: 24px;
}
.product__colors {
  margin-bottom: 25px;
 
}
.product__colors-text {
  margin-bottom: 8px;

}
.product__colors-list {
  display: flex;
  gap: 8px;
}
.product__colors-item {
}

.product__button {
  display: flex;
  max-width: 454px;
  height: 48px;
  justify-content: space-between;
  margin-bottom: 31px;
}
.product__button-cart {
  width: 386px;
  height: 48px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3A3845;
}

.product__button-cart-text{
  margin-right: 25px;
  font-weight: 600;
  color: #FFFFFF;
}

.product__button-cart-img{

}


.product__button-heart {
  width: 48;
  height: 48;
  padding: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;

}
.product__button-heart-img{
  padding-left:12px ;
  padding-right:12px ;
}
.product__social {
  display: flex;
  align-items: center;
}
.product__social-text {
  margin-right: 35px;
}
.product__social-links {
  display: flex;
  gap: 16px;
}
.product__social-links-item {
}



/* ---------------------------product__details------------------------- */
/* cursor: pointer; */


.product__details {
  height: 203px;

}
.product__accordeon {
  background-color: #FFFFFF;
  margin-top: 40px;
  padding: 24px 


}
.product__accordeon-trigger {

 
}

.product__accordeon-trigger-inner{
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); ;
  height: 49px;
  margin-bottom: 16px;


}
.product__accordeon-title {
  font-weight: 600;
  font-size: 20px;
  color: #3A3845;
}
.product__accordeon-sign {

}

.product__accordeon-trigger-inner_last{
  border-bottom: none;
  height: 25px;
  margin-bottom: 0px;


}




/* ---------------------------Similar------------------------- */


/* ---------------------------similar__top------------------------- */

.similar {
  margin-top: 130px;
}
.container {
}
.similar__container {
}
.similar__top {
}
.similar__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
}
.similar__top-title {
  font-weight: 600;
  font-size: 40px;
  color: #3A3845;
}
.similar__top-buttons {
  display: flex;
  gap: 12px;

}
.similar__top-button-left {
  width: 44px;
  height: 44px;
  background-color:#F7F6F5;
  border-color:rgba(0, 0, 0, 0.2) ;
  border-radius: 5px;
}
.similar__top-button-right {
  width: 44px;
  height: 44px;
  background-color:#F7F6F5;
  border-radius: 5px;

}

/* ---------------------------.similar__items------------------------- */


.similar__items {
  margin-top: 40px;

}
.similar__items-inner {
  display: flex;
  gap: 20px;
}
.similar__item {
}
.similar__item-plate {
  position: relative;
}
/* я не смого чисто сердце сохранить  */
.similar__item-heart {
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  padding: 0;
  width: 24;
  height: 24;

}
.similar__item-text {
  background-color: #FFFFFF;
  padding: 16px 26px 16px 16px;
}
.similar__item-title {
  font-size: 18px;
  font-weight: 600;
  color: #3A3845;
  margin-bottom: 8px;
  font-family: 'Gilroy-Bold', sans-serif;
  white-space: nowrap
 
}
.similar__item-price {
  font-size: 18px;
  font-weight: 500;
  color: #595667;
}




